<<< {{  ansible_default_ipv4.address  }} - {{  ansible_hostname  }} - HELTH CHECK - {{  ansible_date_time.date }} : {{  ansible_date_time.time }} >>>

                ========= FILE SYSTEM ===========

